body{
    background-color: black;
    color: aliceblue;
}
/* .ln{outline: 2px solid rgb(0, 153, 255);} */
.head{
    text-align: center;
}
.logo{
    max-width:  70vw;
}
h4{
text-align: center;
}
.content{
    display: flex;
    justify-content:space-around
}
.gallery img{
    /* outline: 2px solid black; */
    padding: 2vw;
    max-width: 30vw;   
    text-align: center;
}
.gallery{
    text-align: center;
}
